body{
    padding: 0;
    margin: 0;
    background-color: var(--sa-white);
    color: var(--sa-black);
    background-color: rgb(224, 224, 224);

    font-family: Arial, Helvetica, sans-serif;
}

.logohead{
    width: 100%;
}
h2{
    background-color: #ffccd0;
    text-align: center;
    color: black;
    margin: 0;
}
div{
    background-color: #d3ffeb;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: #ffb085;
    border-style: solid;
}
.Investments{
    background-color: #ffdfb6;
    display: flex;
    justify-content: center;
   
}
.RD{
width: 33%;
}
.RD h3{
    color: rgb(16, 255, 16);
}
.RG{
width: 33%;
}
.RG h3{
color: yellow;
}
.RB{
width: 33%;
}
.RB h3{
color: rgb(255, 115, 0);
}
.Transport{
    background-color: #ffdfb6;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.Housing{
    background-color: #ffdfb6;
    display: flex;
    justify-content: center;
}
.Food{
    background-color: #ffdfb6;
    display: flex;
    justify-content: center;
}
.food1{
width: 20%;
}
.food2{
   width: 20%; 
}
.food3{
    width: 20%;
}
.food4{
    width: 20%;
}
img{
    width: 100%;
}
.News{
    background-color: #f9a73e;
    padding: 1px 0;
}